In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
data = pd.read_csv('stock_prices.csv')

In [29]:
print(data.head())

  symbol        date      open      high       low     close    volume
0    AAL  2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1   AAPL  2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2    AAP  2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3   ABBV  2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4    ABC  2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391

In [31]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497472 entries, 0 to 497471
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   symbol  497472 non-null  object
 1   date    497472 non-null  object
 2   open    497461 non-null  float64
 3   high    497464 non-null  float64
 4   low     497464 non-null  float64
 5   close   497472 non-null  float64
 6   volume  497472 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 26.6+ MB
None
                open           high            low          close  \
count  497461.000000  497464.000000  497464.000000  497472.000000
mean       86.352275      87.132562      85.552467      86.369082
std       101.471228     102.312062     100.570957     101.472407
min         1.620000       1.690000       1.500000       1.590000
25%        41.690000      42.090000      41.280000      41.703750
50%        64.970000      65.560000      64.353700      64.980000
75%        98.410000      99.230000      97.580000      98.420000
max      2044.000000    2067.990000    2035.110000    2049.000000

             volume
count  4.974720e+05
mean   4.253611e+06
std    8.232139e+06
min    0.000000e+00
25%    1.080166e+06
50%    2.084896e+06
75%    4.271928e+06
max    6.182376e+08

In [35]:
data['date']=pd.to_datetime(data['date'])
data.set_index('date',inplace=True)

In [37]:
data.dropna(inplace=True)

In [39]:
data['Daily Return']=data['close'].pct_change()# Calcutaing Daily Returns

In [41]:
data['SMA_7']=data['close'].rolling(window=7).mean()  #Calclating moving averages
data['SMA_30']=data['close'].rolling(window=30).mean()

In [43]:
data['Volatality']=data['Daily Return'].rolling(window=30).std()